.mainContainer {
    width: 262px;
    max-width: 100%;
    padding: 40px 16px;
    background-color: #F3F5F7;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.imgContainer {
    position: relative;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.avImg {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.cameraContainer {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -10px;
    
    background-color: var(--darkColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.cameraContainer.ltr {
    right: -10px;
}
.cameraContainer.rtl {
    left: -10px;
}
.name {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}
.red {
    color: var(--redColor) !important;
}