.mainDiv {
  width: 100vw;
  background-color: var(--grayColor);
  display: flex;
  align-items: center;
}

.welcome {
  font-weight: 400;
}

.follow {
  font-weight: 400;
  font-size: 13px;
}

.line {
  width: 1px;
  opacity: 0.16;
}

.select {
  background-color: transparent !important;
  border: none;

  font-size: 15px;
}

.socialIcon {
  width: 15px;
  height: 15px;
}