.x {
  position: absolute;
  left: 10px;
}
.mainMenu {
  background-color: var(--whiteColor);
  width: 100%;
  padding: 10px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.btn {
  padding: 12px;
  transition: var(--mainTransition);
  background-color: transparent !important;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  -webkit-transition: var(--mainTransition);
  -moz-transition: var(--mainTransition);
  -ms-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
}
.btn.active {
  background-color: var(--yellowColor) !important;
}
.subCategoryContainer {
  transition: var(--mainTransition);
  -webkit-transition: var(--mainTransition);
  -moz-transition: var(--mainTransition);
  -ms-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
}
.show {
  display: block;
  opacity: 1;
}
.hide {
  display: none;
  opacity: 0;
}
.link {
  color: black !important;
  font-weight: 700;
}
