.mainDiv {
  width: 100vw;
  background-color: #000;
  overflow-x: hidden !important;
}
.logo {
  width: 200px;
  height: 100px;
 
}
.socialIcon {
  width: 24px;
  height: 24px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.socialIcon:hover {
  transform: scale(1.06);
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
}
.link {
  position: relative;
}
.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  height: 1px;
  background-color: var(--textColor) !important;
  width: 100%;
  opacity: 0;
}
.link:hover::before {
  opacity: 1;
}
.paymentContainer {
  background-color: white;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.paymentImg {
  width: 41px;
  height: 15px;
  object-fit: contain;
}
.lowerFooter {
  border-top: 1px solid white;
}