* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden !important;
  font-family: "Tajawal", sans-serif;
  text-transform: capitalize;
}
:root {
  --redColor: #ac0200;
  --blackColor: #000;
  --yellowColor: #f3de6d;
  --grayColor: #e8e8e8;
  --textColor: #555;
}
.pointer {
  cursor: pointer;
}
.menu,
.cart {
  position: fixed;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden !important;
  background-color: var(--grayColor);
  height: 100vh;
  width: 300px;
  z-index: 80000000 !important;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
@media screen and (min-width: 700px) {
  .cart {
    width: 550px;
  }
}
.menu.show {
  right: 0;
}
.cart.show {
  left: 0;
}
.menu.show,
.cart.show {
  opacity: 1;
}
.menu.hide {
  right: -300%;
}
.cart.hide {
  left: -300%;
}
.menu.hide,
.cart.hide {
  opacity: 0;
}
.controls {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}
.controls button {
  background-color: var(--redColor);
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}