/* fonts */
@font-face {
  font-family: 'GE SS Two';
  src: url('./fonts/GE SS Two Light.woff') format('woff') , 
      url('./fonts/GE SS Two Light.woff2') format('woff2') ; 
      font-weight: 300; /* Light */
       font-style: normal;
        font-feature-settings: 'lnum';
          -webkit-font-feature-settings: 'lnum'; /* Safari/Chrome */
   -moz-font-feature-settings: 'lnum'; /* Firefox */
}
@font-face {
  font-family: 'GE SS Two';
  src: url('./fonts/GE SS Two Medium.woff2') format('woff2'),
       url('./fonts/GE SS Two Medium.woff') format('woff');
  font-weight: 500; /* Medium */
  font-style: normal;
    font-feature-settings: 'lnum';
          -webkit-font-feature-settings: 'lnum'; /* Safari/Chrome */
   -moz-font-feature-settings: 'lnum'; /* Firefox */
}
@font-face {
  font-family: 'GE SS Two';
  src: url('./fonts/GE SS Two Bold.woff2') format('woff2'),
       url('./fonts/GE SS Two Bold.woff') format('woff');
  font-weight: 700; /* Bold */
  font-style: normal;
    font-feature-settings: 'lnum';
          -webkit-font-feature-settings: 'lnum'; /* Safari/Chrome */
   -moz-font-feature-settings: 'lnum'; /* Firefox */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body {
   overflow-x: hidden !important;
   font-family: 'GE SS Two', sans-serif;
 
   font-weight: 400;
   text-transform: capitalize;
  
  
}
html {
  scroll-behavior: smooth;
  font-feature-settings: 'lnum';
  -webkit-font-feature-settings: 'lnum'; /* Safari/Chrome */
  -moz-font-feature-settings: 'lnum'; /* Firefox */
}
:root {
  --redColor: #ac0200;
  --blackColor: #000;
  --yellowColor: #f3de6d;
  --grayColor: #e8e8e8;
  --textColor: #555;
  --sectionColor: rgba(252, 200, 199, 0.3);
  --darkColor: #191c1f;
  --graySection : rgba(232, 232, 232, 0.4) ;
}
.pointer {
  cursor: pointer;
}
.menu,
.cart {
  position: fixed;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden !important;
  background-color: var(--grayColor);
  height: 100vh;
  width: 300px;
  z-index: 8000000 !important;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
@media screen and (min-width: 700px) {
  .cart {
    width: 550px;
  }
}
.menu.show {
  right: 0;
}
.cart.show {
  left: 0;
}
.menu.show,
.cart.show {
  opacity: 1;
}
.menu.hide {
  right: -300%;
}
.cart.hide {
  left: -300%;
}
.menu.hide,
.cart.hide {
  opacity: 0;
}
.controls {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}
.controls button {
  background-color: var(--redColor);
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.red {
  color: red;
}
.mainLine {
  background-color: white;
  width: 100vw;
  height: 1px;
}
.red-color {
  color: var(--redColor);
}
.inp,
.area {
  caret-color: var(--redColor);
  border: 1px solid #e8ecef;
  width: 70%;
  padding: 7px 15px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.area {
  height: 150px;
}
.inp:focus,
.area:focus {
  outline: none;
  border: 1px solid var(--redColor);
}
.label {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.inp:focus .label {
  color: var(--redColor) !important;
}
.newBtn {
  text-transform: capitalize;
  border: none;
  background-color: var(--blackColor);
  color: white;
  padding: 7px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
  width: 220px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.newBtn:hover {
  background-color: var(--redColor);
  transform: translateY(-7px) !important;
  -webkit-transform: translateY(-7px) !important;
  -moz-transform: translateY(-7px) !important;
  -ms-transform: translateY(-7px) !important;
  -o-transform: translateY(-7px) !important;
}
.faceLine {
  width: 100%;
  height: 1px;
  background-color: #e8ecef;
}
.fw500 {
  font-weight: 600 !important;
}
.error {
  color: var(--redColor);
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .inp,
  .area {
    width: 100%;
  }
}
.table-container {
  overflow-x: auto;
}

.checkInp {
  border: 1px solid #CBCBCB;
  width: 100%;
  padding: 7px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.checkInp:focus {
  outline: none;
}
.formContainer , .paymentContainer {
  width: 85%;
  
}
.formContainer {
   border: 1px solid #6C7275;
}
@media screen and (max-width : 767px) {
  .formContainer , .paymentContainer {
    width: 100%;
  }
}
.filterBtnTitle {
  color: #6C7275;
}
.filterBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  padding: 8px 16px;
  border: 1px solid var(--redColor);
  background-color: transparent;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.filterInp {
  width: 100%;
  border: none;
  background-color: transparent;
}
.filterInp:focus {
  outline: none;
}
.fs20 {
  font-size: 20px;
}
.dropdown-toggle::after {
  margin: 0 8px !important;
}
.dropdown-menu.show {
  text-align: start !important;
}
.bb:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}
.h-400 {
  height: 530px;
}
.slick-dots  {
  bottom: -30px !important;
}
.main-section {
  background-color: rgba(240, 240, 240, 0.44);
  width: 100vw;
 display: flex;
 align-items: center;
}
.offer-card {
 
    background-color: #F3F5F7;
   
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

}
.contact-form {
  width: 100%;
  background-color: white;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.bg-section {
  background-color: var(--graySection);
}