.card {
  padding: 16px 32px;
  background-color: #f3f5f7;
}
.img {
  width: 32px;
  height: 32px;
}
.title {
  font-weight: 700;
  color: #6c7275;
}
.desc {
  color: black !important;

  font-size: 18px;
}
.socialIcon {
  width: 20px;
  height: 20px;
}
